/* HEADER */
.console-header {
    background: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    max-height: 50px;
}

.console-logo-block {
    display: flex;
    align-items: center;
}

.console-logo-block span {
    margin-left: 20px;
    font-size: 20px;
}

.console-header-controls {
    display: flex;
    align-items: center;
}

.console-users-info {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
}

.console-exit-button {
    display: flex;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}

.console-exit-button:hover {
    color:rgba(0, 85, 251, 1);
}

.console-fullscreen:hover {
    color: rgba(0, 85, 251, 1);
}

.console-exit-button span {
    margin-right: 11px;
}

.console-header-controls img {
    cursor: pointer;
}

.console-info-dots {
    color: rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}

/* HISTORY OF REQUESTS */

.requests-bar {
    background: rgba(246, 246, 246, 1);
    display: flex;
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    max-height: 50px;
}

.requests-tracker {
    padding: 10px 15px;
    min-width: calc(100% - 52px);
}

.delete-request {
    padding: 15px;
    border-left: 2px solid #E5E5E5;
    cursor: pointer;
}

/* MAIN BLOCK */

.main-block {
    background: rgba(255, 255, 255, 1);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block-dots {
    margin: 0 3px;
    cursor: pointer;
}

.response-answer-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.response-answer-area span {
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(153, 153, 153, 1);
}

.response-answer-area textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    min-height: 400px;
}

/* FOOTER  */

.console-footer {
    background: rgba(246, 246, 246, 1);
    border-top: 2px solid #E5E5E5;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.console-footer a {
    color: rgba(153, 153, 153, 1);
    text-decoration: none;
}

.console-footer-format {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.console-footer-format:hover {
    color: rgba(0, 85, 251, 1);
}

.console-footer-format span {
    margin-left: 11px;
}