.console-header {
    background: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    max-height: 50px;
}

.console-logo-block {
    display: flex;
    align-items: center;
}

.console-logo-block span {
    margin-left: 20px;
    font-size: 20px;
}

.console-header-controls {
    display: flex;
    align-items: center;
}

.console-users-info {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
}

.console-exit-button {
    display: flex;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}

.console-exit-button span {
    margin-right: 11px;
}

.console-header-controls img {
    cursor: pointer;
}

.console-info-dots {
    color: rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}

.requests-block {
    background: rgba(246, 246, 246, 1);
    display: flex;
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    max-height: 50px;
}

.requests-tracker {
    padding: 10px 15px;
    min-width: calc(100% - 52px);
}

.delete-request {
    padding: 15px;
    border-left: 2px solid #E5E5E5;
    cursor: pointer;
}